body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.got {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.components {
    width: 50%;
    padding-top: 3%;
    padding-left: 10%;
}

.components img {
    width: 80%;
}

h1 {
    font-size: 40px;
}

.different-color {
    color: tomato;
}

.my-link {
    text-decoration: none;
    padding: 7px 20px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 800;
    border-radius: 5px;
}

.valhalla {
    margin-top: 30px;
    margin-bottom: 150px;
    display: flex;
    background-image: url(images/valhalla.png);
    background-repeat: no-repeat;
    background-position: right;
}

.text {
    width: 50%;
    padding-right: 10%;
    padding-top: 5%;
}

.my-about {
    text-decoration: none;
    padding: 7px 20px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 800;
    border-radius: 5px;
}

.xp {
    margin-top: 50px;
    margin-bottom: 200px;
}

.xp h1 {
    margin-left: 70px;
}

.experience {
    display: flex;
    margin-bottom: 20px;
}

.experience h1 {
    font-size: 30px;
}

.experience h3 {
    font-size: 15px;
}

.experience p {
    font-size: 12px;
}

.experience-components {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

#left-com {
    border-left: 7px solid;
    border-image: linear-gradient(blue, lightblue);
    border-image-slice: 1;
}

#right-com {
    border-left: 7px solid;
    border-image: linear-gradient(blue, lightblue);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}
